<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Welcome to Clonegram, a third-party integration of instagram.</p>
  <hr class="my-4">
  <p>Please click on the button below to authorize clonegram with your instagram account.</p>
  <p class="lead">
    <%= link_to 'Sign In', login_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>